.containerCalc {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.calculadora {
    background-color: black;
    width: 370px;
    height: 550px;
    padding: 5px;
    border-radius: 15px;
}

.visor {
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 5px;
    width: 340px;
    height: 60px;
    text-align: end;
    font-size: 4.4em;
    border: none;
}

.btnPadrao {
    width: 80px;
    height: 80px;
    margin: 3px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 2.5rem;
    border-radius: 50px;
}

.btn1 {
    background-color: rgb(146, 146, 146);
    color: black;
}

.btn1:hover {
    background-color: rgba(146, 146, 146, 0.781);
}

.btn2 {
    background-color: rgb(71, 71, 71);
}

.btn2:hover {
    background-color: rgba(71, 71, 71, 0.692);
}

.btn3 {
    background-color: rgb(253, 135, 0);
}

.btn3:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(253, 135, 0);
    animation-duration: 1s;
}

.zero {
    width: 170px;
}

