:root {
    --cor1: #03416E;
    --cor2: #7996C3;
    --cor3: #A8A8BD;
    --cor4: #E1E1ED;
    --cor5: #333333;
}

html, body {
    height: 100%;
}


body {
    background: url(../imagens/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

.nav-nav {
    background: rgba(0, 0, 0, 0.39);
}

.navPaginas {
    margin:auto;
}

.togglePaginas{
    margin-left: 85%;
    color: var(--cor3);
}

.carrosel {
    text-align: center;
    min-height: 35em;
    padding-top: 10em;
}

.carousel-control-prev, .carousel-control-next {
    width: 0;
}

.btn-custom {
    border-radius: 10px;
    margin: 20px;
    border: 1px solid white;
}

.btn-custom:hover {
    background: var(--cor1);
    color: var(--cor4);
}

.btn-custom2 {
    color: black;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid black;
}

.btn-custom2:hover {
    background: var(--cor4);
    color: rgb(0, 0, 0);
}

.letraBranca {
    color: white;
}

.branco {
    background-color: rgb(241, 241, 241);
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

.main-conteudos {
    padding-top: 50px;
    padding-bottom: 50px;
    visibility: hidden;
}

.main-conteudos i {
    font-size: 5em;
    margin: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);
}

.tecnologias:hover {
    text-decoration: none;
    color: var(--cor2);
    background-color: rgba(0, 0, 0, 0.062);
}

.html {
    color: orangered;
}

.css {
    color: blue;
}

.js {
    color: yellow;
}

footer {
    background-color: #000000b2;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 4em;
    justify-content: space-around;
}

.footerinfo {
    margin: 1em 3em;
}

.linkfooter {
    display: flex;
}

.linkfooter:hover {
    text-decoration: none;
    color: var(--cor3);
}

.imgf {
    width: 17em;
    margin: 2em 0;
}

footer h4 {
    color: var(--cor2);
}

footer i {
    font-size: 3em;
    margin: 1em;
}

@media (max-width: 575.98px) {
    #inicio {
        width: 190px;
    }
    .display-2 {
        font-size: 2.5em;
    }
    
    footer i {
        font-size: 2.2em;
        margin: 1em;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #inicio {
        width: 190px;
    }

    .display-2 {
        font-size: 3em;
    }

    footer i {
        font-size: 2.2em;
        margin: 1em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .display-2 {
        font-size: 4.5em;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .display-2 {
        font-size: 5em;
    }
}
@media (min-width: 1200px) {
    .display-2 {
        font-size: 6em;
    }
}
