:root {
    --cor1: #03416E;
    --cor2: #7996C3;
    --cor3: #A8A8BD;
    --cor4: #E1E1ED;
    --cor5: #333333;
}

html, body {
    height: 100%;
}


body {
    background: url(../imagens/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

.nav-nav {
    background: rgba(0, 0, 0, 0.39);
}

#home {
    text-align: center;
    height: 65%;
}

.btn-custom {
    border-radius: 10px;
    margin: 20px;
    border: 1px solid white;
}

.btn-custom:hover {
    background: var(--cor1);
    color: var(--cor4);
}

.btn-custom2 {
    color: black;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid black;
}

.btn-custom2:hover {
    background: var(--cor4);
    color: rgb(0, 0, 0);
}

.conteudos {
    background: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

.conteudos2 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.conteudos2 i {
    font-size: 6em;
    margin: 10px;
    text-shadow: 2px 2px 2px black;
}

.tecnologias:hover {
    text-decoration: none;
    color: var(--cor2);
    background-color: rgba(0, 0, 0, 0.062);
}

.html {
    color: orangered;
}


.css {
    color: blue;
}

.boot {
    color: purple;
}

.js {
    color: yellow;
}

.caixa {
    border: 1px solid white;
}

footer {
    background-color: #333333b2;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1em;
    justify-content: space-around;
}

.footerinfo {
    margin: 1em 4em;
}

.linkfooter {
    margin: 1em 0;
    display: flex;
}

.linkfooter:hover {
    text-decoration: none;
    color: var(--cor3);
}

.imgf {
    width: 16em;
}

footer i {
    font-size: 3em;
    margin-left: 1.1em;
}

@media (max-width: 575.98px) {
    .display-2 {
        font-size: 3em;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .display-2 {
        font-size: 3.5em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .display-2 {
        font-size: 4.5em;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em;
    }
}
@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }
}

.branca {
    background-color: white;
}